body{
    font-size: large; 
    font-family: sans-serif;
    margin: 25px;
    
}
header{
    background-color: rgb(251, 236, 238);
    margin: 20px;
    padding: 30px;

}
nav{
    border: 3px dotted rgb(108, 108, 151);
    border-radius: 15px;
    margin: 30px;
    text-align: center;
}
h1{
    color: pink;
    text-align: center;
    text-shadow: .2em .2em .3em silver;
    margin: 10px;

}
h3{
    color: rgb(212, 151, 219);
    font-weight: bold;
    text-align: left;
    margin: 10px;
}
img{
border: 3px dotted;
border-radius: 3px;
color: rgb(108, 108, 151);
margin: 10px;
float: left;
}


li{
background-color: rgb(217, 241, 241);
color: rgb(108, 108, 151);
margin: 25px;
}
footer{
    border-top: dotted rgb(108, 108, 151);
    text-align: center;
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    grid-auto-rows: minmax(60px, auto);
}
#one{
    grid-column: 1/5;
    grid-row: 1;
}

#three {
    grid-column: 1;
    grid-row: 2;
  }
#four {
    grid-column: 4;
    grid-row: 2;
  }
#five {
    grid-column: 2/4;
    grid-row: 2/4;
  }
#six {
    grid-column: 3;
    grid-row: 4;
  }