body{
    color: rgb(255, 255, 255);
    font-size: large; 
    font-family: sans-serif;
    margin: 10px;
    background: rgb(251, 209, 217);
}
header{
    text-align: center;
    margin: 25px;
    background-image: rgb(255, 255, 255);
}
nav{
   border:3px dotted rgb(254, 254, 255);
   border-radius: 15px;
   text-align: center;
}
.link:hover, .link:focus{
  background-color: rgb(248, 169, 218);
}
img{
    border: 3px dotted;
    border-radius: 10px;
    background-color: rgb(224, 208, 246);
}
form{
    border: 3px;
    border-style: hidden;
    border-color: rgb(255, 255, 255);
    margin: 80px;
    border-radius: 15px;
}
h1{
    text-shadow: .2em .2em .3em silver;
}
#wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
#one{
    grid-column: 1 / 4;
    grid-row: 1;
  }
#two{
    grid-column: 2;
    grid-row: 2;
  }
#three{
    grid-column: 1;
  }